/* Import the Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: white;
    font-size: 16px;
}





/* Icon Styles */
.d-flex.align-items-center i {
    font-size: 1.2rem; /* Uniform size for all icons */
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-nav {
        gap: 20px; /* Reduces gap for smaller screens */
    }
    .navbar-nav .nav-link {
        font-size: 14px; /* Smaller font size on mobile */
    }
    .d-flex.align-items-center i {
        font-size: 1rem; /* Adjust icon size for mobile */
    }
}
